/**
 * This stylesheet is using following CSS methodology:
 * http://rscss.io
 */
.docs-nav,
.docs-content {
  position: fixed;
  top: 0;
  bottom: 0;
  height: auto;
}
.docs-nav {
  left: 0;
  width: 25%;
  background: #e0e0e0;
  color: #18171b;
  overflow-y: auto;
}
.docs-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.docs-nav ul a {
  color: #18171b;
  display: block;
}
.docs-nav ul a:hover,
.docs-nav ul a.active {
  background: #e91e63;
  color: #ffffff;
}
.docs-nav ul.level-1 > li > a {
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
.docs-nav ul.level-2 > li > a {
  padding: 5px 20px;
  font-size: 12px;
}
.docs-nav ul.level-3 > li > a {
  padding: 5px 20px 5px 40px;
  font-size: 11px;
}
.docs-content {
  right: 0;
  width: 75%;
  background: #ffffff;
  color: #18171b;
  overflow-y: auto;
}
.docs-content .content {
  padding: 40px;
}
div[role="flatdoc-content"] h1 {
  letter-spacing: -2px;
}
div[role="flatdoc-content"] h2,
div[role="flatdoc-content"] h3,
div[role="flatdoc-content"] h4,
div[role="flatdoc-content"] h5,
div[role="flatdoc-content"] h6 {
  letter-spacing: -1px;
}
div[role="flatdoc-content"] ul {
  list-style-type: square;
}
div[role="flatdoc-content"] table {
  width: 100%;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}
div[role="flatdoc-content"] table th,
div[role="flatdoc-content"] table td {
  padding: 10px;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
div[role="flatdoc-content"] table th {
  text-align: left;
}
div[role="flatdoc-content"] table code {
  white-space: nowrap;
}
div[role="flatdoc-content"] pre,
div[role="flatdoc-content"] .hljs {
  background: #eeeeee;
}
div[role="flatdoc-content"] pre {
  margin-left: -40px;
  margin-right: -40px;
  padding-left: 40px;
  padding-right: 40px;
}
div[role="flatdoc-content"] code {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  padding: 0.2em 0.4em;
  background: #eeeeee;
  border-radius: 3px;
}
